@helper Input(string name, string label, string type, bool required = false, bool autoFocus = false, string attribs = "", bool includeErrorBlock = true)
{

    <script type="text/javascript">
    $(function () {
        //if (!Modernizr.inputtypes.date) {
        //    $('[type="date"]').datepicker({
        //        dateFormat: 'yy-mm-dd' //Format required for form validation to work using ng-required
        //    });
        //    webshim.setOptions('forms-ext', {
        //        replaceUI: 'auto'
        //    });
        //}
    });
    </script>

    <label for="@name">
        @Html.Raw(label) @if (required) { <span class="form-required">&bull;</span> }
    </label>
    <input 
        id="@name"
        name="@name" 
        ng-model="@name" 
        type="@type" 
        @(required ? "required" : "")
        @(autoFocus ? "autofocus" : "")
        @Html.Raw(attribs)
        />
    
   if (includeErrorBlock) { @ErrorBlock(name) }
}

@helper Select(string name, string label, IEnumerable<Tuple<string, string>> options, bool required = false, bool autoFocus = false)
{
    <label for="@name">@label @if (required) { <span class="form-required">&bull;</span> }</label>
    <select id="@name" name="@name" ng-model="@name" @(required ? "required" : "") @(autoFocus ? "autofocus" : "")>
        @foreach (var option in options)
        {
            <option value="@option.Item1">@option.Item2</option>
        }
    </select>
    @ErrorBlock(name)
}

@helper ErrorBlock(string name)
{
    <div class="form-error-block">
        <span
            class="form-error-message" 
            ng-show="invalidInput('@name')"
            ng-bind="validationMessage('@name')">
        </span>
    </div>
}