<section class="left-view">
    <h2>Welcome</h2>
    <h3>Welcome to MyVote. Please complete your registration and start creating your own polls!</h3>
    <form name="registrationForm" class="stacked-form" ng-submit="register()" novalidate autocomplete="off">
        @FormHelpers.Input("email", "Email Address", "email", required: true, autoFocus: true)

        @FormHelpers.Input("screenName", "Choose a MyVote Screen Name", "text", required: true)
        
        @FormHelpers.Input("birthDate", "Date of Birth", "date")

        @FormHelpers.Select("sex", "Sex", new[] {
            Tuple.Create("", ""),
            Tuple.Create("F", "Female"),
            Tuple.Create("M", "Male")
        })

        @FormHelpers.Input("zip", "ZIP Code", "tel")

        <button type="submit">Let's Get Started!</button>
    </form>
    <div class="topbar topbar-error" ng-show="errorMessage"><span ng-bind="errorMessage"></span></div>
    <div class="progress" ng-show="busyMessage"><span ng-bind="busyMessage"></span></div>
</section>
